[Unit]
Description = home-webapp

[Service]
Type           = simple
User           = rustydoggobytes
Group          = rustydoggobytes
LimitNOFILE    = 4096
Restart        = always
RestartSec     = 5s
StandardOutput = append:/home/rustydoggobytes/logs/home.log
StandardError  = append:/home/rustydoggobytes/logs/home.log
ExecStart      = /home/rustydoggobytes/apps/home

[Install]
WantedBy = multi-user.target
